
.setupEmail {
  float: right;
  padding: 12px;
  margin: 8px;
  box-sizing: border-box;
  background-image: linear-gradient(#7fb7b9, #30a3b2);
}

.btn {
  padding: 12px;
  margin: 8px;
  box-sizing: border-box;
  background-image: linear-gradient(#7fb7b9, #30a3b2);
}
