
<div class="login-container">
  mydata{{mydata | json}}
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
      <label for="chk" aria-hidden="true" #loginLabel>Login</label>
      <div class="error">{{loginError}}</div>
      <input #username type="email" name="email" placeholder="Email" required="">
      <input #password type="password" name="pswd" placeholder="Password" required="">
      <button [ngClass]="analytics.LOGIN_BTN" (click)="login(username.value, password.value)">Login</button>
      <button [ngClass]="analytics.LOGIN_BTN" (click)="googleLogin()">Google Login</button>
    </div>

    <div class="login">

      <label for="chk" aria-hidden="true">Sign up</label>
      <div class="error">{{registrationError}}</div>
      <input #username2 type="email" name="txt" placeholder="Email" required="">
      <!--      <input  type="email" name="email" placeholder="Email" required="">-->
      <input #password2 type="password" name="pswd" placeholder="Password" required="">
      <button [ngClass]="analytics.REGISTRATION_BTN" (click)="registration(username2.value, password2.value); ">Sign
        up
      </button>
    </div>
  </div>


</div>
