.room-name {
  background: #dddddd;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}

.members {
  background: #dddddd;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}

.member-list {
  color: #04AA6D;
}

.rooms{
  background: #f5b273;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}
