<h2>Meeting</h2>

<p class="room-name">
  roomName: <input type="text" #roomName>
</p>

<div class="members">
  <h4>Invite members:</h4>
  <p> name: <input type="text" #name></p>
  <p> email: <input type="email" #email></p>
  <button (click)="addMember({name: name.value, email: email.value}); name.value =''; email.value =''">add</button>

  <div class="member-list">
    Meeting Members:
    <div *ngFor="let member of members">
      {{member.name}} - {{member.email}} <button (click)="removeMember(member)">remove</button>
    </div>

  </div>

</div>



<button (click)="createRoom({name: roomName.value}, members)">create</button>

<div class="rooms">
  Rooms:
  <div *ngFor="let room of rooms">
    {{room.name}} <a [href]="room.url" target="_blank">{{room.url}}</a> {{room.created_at | date}}
    <!--  {{room | json}}-->
  </div>

</div>
