.room-name {
  background: #dddddd;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}

.members {
  background: #dddddd;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}

.member-list {
  color: #04AA6D;
}

.rooms{
  background: #f5b273;
  padding: 20px;
  margin: 20px;
  width: auto;
  border-radius: 25px;
}

.create-btn {
  border-radius: 25px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.info {
  font-size: 14px;
}
