
.taskContainer{
display: grid;
grid-gap: 5px;
background-color: #222831;
background-image:
    linear-gradient(
      #222831, #30475e
    );
border-radius: 20px;
padding: 5px 10px;
margin: 15px;
}


/* LABEL START */
.labelContainer{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
}

.taskLabel{
  text-align: center;
  color: #dddddd;
max-height: 20px;
background-color: #f05454;
background-image:
    linear-gradient(
      to right,
      hsl(0, 91%, 59%), #f05454
    );
border-radius: 15px;
font-size: 11px;
padding: 3px;
}
/* LABEL END */

/* TASK START */
.task{
display: grid;
color: #dddddd;
text-align: center;
font-size: 17px;
}

/* TASK END */

/* TASK INFO START */
.taskInfoIcon{
  width: 20px;
  height: 20px;
}

.imgSvg{
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(5%) saturate(7500%) hue-rotate(274deg) brightness(105%) contrast(116%);
}

.sessionStartedIndicator {
  color: #f05454;
}

.taskInfoContainer{
  display: grid;
  grid-template-columns: 23px 70px 23px 30px 23px 80px;
font-size: 14px;
color: #dddddd;
}
.taskInfo{
  display: grid;

}



/* TASK INFO END */
