<ng-container [ngTemplateOutlet]="enableEdit ? editTemplate: normalTemplate"></ng-container>

<ng-template #normalTemplate>
  <div class="task" [ngClass]="task?.isCompleted ? 'completed-task': ''">

    <h3><p>{{task?.title}}</p></h3>
    <p>{{task?.description}}</p>
    <p *ngIf="task?.startAt" class="startAt"><i>{{task?.startAt | date:'yyyy-MM-dd, hh:mm'}}</i></p>
    <p *ngIf="task?.startAt" class="remainingTime">
      remaining: {{getRemainingTime(task.startAt).d + "d " + getRemainingTime(task.startAt).h + "h " + getRemainingTime(task.startAt).m + "m"}}</p>
    <p><i class="labels">{{task?.labels}}</i></p>
    <ng-container *ngFor="let file of files">
      <p><a [href]="file.downloadLink"> {{file.filename}}</a></p>
    </ng-container>
    <ng-container [ngTemplateOutlet]="taskButtons"></ng-container>

  </div>
</ng-template>

<ng-template #editTemplate>
  <div class="task" [ngClass]="task?.isCompleted ? 'completed-task': ''">

    <p><input #titleInput type="text" [value]="task?.title"></p>
    <p>desc: <input #descriptionInput type="text" [value]="task?.description"></p>
    <button (click)="changeComplete()">complete</button>
    <button (click)="save({ title: titleInput.value, description: descriptionInput.value} )">save</button>

  </div>
</ng-template>


<ng-template #taskButtons>
  <img (click)="changeComplete()" src="assets/svg/complete.svg" alt="Kiwi standing on oval" class="icon">
  <img (click)="editMode()" src="assets/svg/edit.svg" alt="Kiwi standing on oval" class="icon">
  <img (click)="delete()" src="assets/svg/trash.svg" alt="Kiwi standing on oval" class="icon">
</ng-template>
