.menu {
  z-index: 100;
}
.menu-item {
  padding: 10px;
  margin: 10px;
  background: #2d423d;
  color: #e8e8e8;
}
.menu-item:hover {
  padding: 10px;
  margin: 10px;
  background: #2d423d;
  color: #0353f3;
}

