.board {
  border-style: solid;
  border-width: 5px;
  width: 700px;
  padding: 11px;
  margin: 11px;
  background-image:
    -webkit-linear-gradient(60deg,rgba(218, 169, 215, 0.637),rgba(128, 174, 235, 0.904));

}

.board-name {
  align-content: center;
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

