<div class="board" *ngIf="board">
  <div class="board-name">
    <h2><b> {{board.name}}</b>
      <!--      <button (click)="deleteBoard()">delete board</button>-->

      <img  style="float: right" (click)="deleteBoard()" src="assets/svg/trash.svg" alt="Kiwi standing on oval" class="icon">


      <button class="addTask" style="float: right" mat-button (click)="openAddTaskDialog(addTaskDialog)">Add task</button>
    </h2>
  </div>

  <div *ngFor="let task of board.tasks">
    <div class="task-wrapper">
      <app-task [boardEvent]="boardEvent" [task]="task"></app-task>
    </div>
  </div>


</div>

<ng-template #addTaskDialog>
  <div>
    add task:
    title: <input type="text" #titleInput>
    description: <input type="text" #descriptionInput>
    <button (click)="addTask({title: titleInput.value, description: descriptionInput.value});">add</button>
  </div>
</ng-template>
