<div class="board resizable" *ngIf="board">
  <div class="board-name">
    <h2>
      <span class="board-title">{{board.name}}</span>

      <span class="board-icons">
       <!-- <span mat-menu-item style="float: right" [matMenuTriggerFor]="menu">***</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteBoard()"> delete</button>
          <button mat-menu-item (click)="showCompletedChange()">show completed</button>
        </mat-menu> -->

        <img mat-menu-item src="../../assets/svg/drop-arrow.svg" class="icon"  style="float: right"
             [matMenuTriggerFor]="menu" alt="dropdown button for board menu"> <!--(click)="openAddTaskDialog(addTaskDialog)"-->
         <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteBoard()">Delete Tasks</button>
          <button mat-menu-item (click)="showCompletedChange()">Show completed</button>
        </mat-menu>
      </span>
    </h2>
  </div>


  <ng-container *ngIf="dragable">

    <div *ngFor="let task of board.tasks" cdkDrag>
      <div class="task-wrapper">
        <app-task [boardEvent]="boardEvent" [task]="task" ></app-task>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!dragable">

    <div *ngFor="let task of board.tasks">
      <div class="task-wrapper">
        <app-task [boardEvent]="boardEvent" [task]="task"></app-task>
      </div>
    </div>

  </ng-container>
  <div class="bottomTaskAdd">
    <input class="bottomTaskName" type="text" [(ngModel)]="title"/>
    <span class="bottomAddWrapper">
    <img mat-menu-item src="../../assets/svg/add.svg" class="bottomAddIcon" width="100px" style="float: right"
         alt="add button for new task" (click)="openAddTaskDialog(addTaskDialog)">
      </span><!---->
  </div>
</div>

<ng-template #addTaskDialog>
  <div>
    <h3>Add task </h3>
    <p>Title*: <input type="text" #titleInput [(ngModel)]="title"></p>

    <ejs-richtexteditor #textEditor></ejs-richtexteditor>
    <p>Start at: <input type="datetime-local" #startAtInput></p>
    <ng-container *ngFor="let label of labels">
      <span class="label">{{label}} <a class="remove-label" (click)="removeLabel(label)">X</a></span>
    </ng-container>
    <select class='select-option'
            #labelSelect
            (change)='labelSelection(labelSelect.value)'>
      <option disabled selected value> -- Select labels -- </option>
      <option class='option'
              *ngFor='let option of allLabels'
              [value]="option.name">{{option.name}}</option>
    </select>
    <p>Label: <input class="labelInput" type="text" #labelInput> <button (click)="addLabel(labelInput.value)"> add </button></p>


    <input type="file"
           multiple
           id="file"
           (change)="handleFileInput($event.target)">
    <button [ngClass]="[analytics.CREATE_TASK, 'addButton']"
            (click)="addTask({title: titleInput.value, description: textEditor.getHtml(), startAt: startAtInput.value, labels: labels});">
      add
    </button>
  </div>
</ng-template>
