<ng-container *ngTemplateOutlet="enableEdit?editTemplate: normalTemplate"></ng-container>

<ng-template #normalTemplate>

  <div class="task" [ngClass]="task?.isCompleted ? 'completed-task': ''">

    <h3><p>{{task?.title}}</p></h3>
    <div [innerHTML]="task?.description"></div>
    <p *ngIf="task?.startAt" class="startAt"><i>{{task?.startAt | date:'yyyy-MM-dd, hh:mm'}}</i></p>
    <p *ngIf="task?.startAt" class="remainingTime">
      Remaining
      time: {{(getRemainingTime(task.startAt).negative ? "- " : "") + getRemainingTime(task.startAt).d + "d " + getRemainingTime(task.startAt).h + "h " + getRemainingTime(task.startAt).m + "m"}}</p>
    <p><i class="labels">{{task?.labels}}</i></p>
    <ng-container *ngFor="let file of files">
      <p><a [href]="file.downloadLink"> {{file.filename}}</a></p>
    </ng-container>
    <div *ngFor="let workedMinute of workedMinutes">
      worked: <span class="minutes"> {{workedMinute.minutes.toFixed(2)}} </span> minutes,
      started {{workedMinute.workSession.start | date:'yyyy-MM-dd, hh:mm'}},
      end: {{workedMinute.workSession.end | date:'yyyy-MM-dd, hh:mm'}}
      <hr>
    </div>
    <div *ngIf="allWorkedMinutes>0" class="minutes">All worked: {{allWorkedMinutes.toFixed(2)}} minutes.</div>

    <button *ngIf="!isWorkSessionStarted" (click)="startTask()"> start</button>
    <button *ngIf="isWorkSessionStarted" (click)="endTask()"> end</button>
    <ng-container [ngTemplateOutlet]="taskButtons"></ng-container>

  </div>
</ng-template>

<ng-template #editTemplate>
  <div>
    <h3>Edit task </h3>
    <p>Title*: <input type="text" #titleInput [value]="task.title"></p>

    <ejs-richtexteditor #textEditor [(value)]="task.description"></ejs-richtexteditor>
    <p>Start at: <input type="datetime-local" #startAtInput [value]="task?.startAt ? dateToValue(task?.startAt) : undefined"></p>
    <p>Label: <input type="text" #labelInput [value]="task.labels"></p>
    <input type="file"
           multiple
           id="file"
           (change)="handleFileInput($event.target)">

    <button class="addButton"
            (click)="saveTask({title: titleInput.value, description: textEditor.getHtml(), startAt: startAtInput.value, labels: (labelInput.value && labelInput.value != '')?[labelInput.value]:[]});">
      save
    </button>
  </div>
</ng-template>


<ng-template #taskButtons>
  <img (click)="changeComplete()" src="assets/svg/complete.svg" alt="Kiwi standing on oval" class="icon">
  <img (click)="editMode()" src="assets/svg/edit.svg" alt="Kiwi standing on oval" class="icon">
  <img (click)="delete()" src="assets/svg/trash.svg" alt="Kiwi standing on oval" class="icon">
</ng-template>


<ng-template #taskButtonsShort>
  <img (click)="changeComplete()" src="assets/svg/complete.svg" alt="Kiwi standing on oval" class="icon">
  <img (click)="delete()" src="assets/svg/trash.svg" alt="Kiwi standing on oval" class="icon">
</ng-template>
