<div class="top-bar">

  <nav class="nav" role="navigation">
    <div id="menuToggle">

      <input type="checkbox" #toggleMenu/>

      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <app-button-cp2 *ngIf="!auth.isAuth()"[text]="'Login'" (click)="toggle()" [routerLink]="'login'"></app-button-cp2>
        <app-button-cp2 *ngIf="auth.isAuth()" [text]="'Logout'" (click)="logout(); toggle()"></app-button-cp2>
        <app-button-cp2 *ngIf="auth.isAuth()" [text]="'Tasks'" (click)="toggle()" [routerLink]="'taskboards'"></app-button-cp2>
        <app-button-cp2  *ngIf="auth.isAuth()" [text]="'Timeline'" (click)="toggle()" [routerLink]="'timeline'"></app-button-cp2>
        <a [href]="'https://blog.mytaskplan.me'">
          <app-button-cp2 [text]="'Blog'" (click)="toggle()"></app-button-cp2>
        </a>
        <app-button-cp2 *ngIf="auth.isAuth()" [text]="'Ideas'" (click)="toggle()" [routerLink]="'ideas'"></app-button-cp2>

        <app-daily-email *ngIf="auth.isAuth()"></app-daily-email>
      </ul>
    </div>
  </nav>


</div>

