<div class="sidebar close">
  <div class="logo-details">
    <em class='bx bx-task'></em>
    <span class="logo_name">MyTask</span>
  </div>
  <ul class="nav-links">
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'timeline'" >
        <em class='bx bx-grid-alt' ></em>
        <span class="link_name">Timeline</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Timeline</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'taskboards'">
        <em class='bx bx-chalkboard' ></em>
        <span class="link_name">Task boards</span>
      </a>
      <ul class="sub-menu blank">
        <li><a [routerLink]="'taskboards'">Task boards</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'labels'">
        <em class='bx bx-label' ></em>
        <span class="link_name">Labels</span>
      </a>
      <ul class="sub-menu blank">
        <li><a [routerLink]="'labels'">Labels</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a>
        <em class='bx bx-envelope' ></em>
        <app-daily-email class="link_name"></app-daily-email>
      </a>
      <ul class="sub-menu blank">
        <li><a><app-daily-email></app-daily-email></a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a href="http://blog.mytaskplan.me/" target="_blank">
        <em class='bx bx-book' ></em>
        <span class="link_name">Blog</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="http://blog.mytaskplan.me/">Blog</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'chart'">
        <em class='bx bx-pie-chart-alt-2' ></em>
        <span class="link_name">Analytics</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Analytics</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'soon'">
        <em class='bx bx-history'></em>
        <span class="link_name">History</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" [routerLink]="'soon'">History</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <div class="iocn-link">
        <a>
          <em class='bx bx-food-menu'></em>
          <span class="link_name">Fitness</span>
        </a>
        <em class='bx bxs-chevron-down arrow' ></em>
      </div>
      <ul class="sub-menu">
        <li><a [routerLink]="'weight'" >Weight tracker</a></li>
        <li><a [routerLink]="'food-macros'" >Macros tracker</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a>
          <em class='bx bx-code-alt' ></em>
          <span class="link_name">GitHub</span>
        </a>
        <em class='bx bxs-chevron-down arrow' ></em>
      </div>
      <ul class="sub-menu">
        <li><a href="https://github.com/MaurerKrisztian/TaskManager" target="_blank">UI repository</a></li>
        <li><a href="https://github.com/MaurerKrisztian/TaskManager-api" target="_blank" >API repository</a></li>
        <li><a href="https://github.com/MaurerKrisztian/linode_configuration" target="_blank">CI-CD repository</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'soon'">
        <em class='bx bx-cog' ></em>
        <span class="link_name">Setting</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" [routerLink]="'soon'">Setting</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <a [routerLink]="'habit'">
        <em class='bx bx-cog' ></em>
        <span class="link_name">Habit</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" [routerLink]="'habit'">Habit</a></li>
      </ul>
    </li>
    <li *ngIf="!auth.isAuth()">
      <a [routerLink]="'login'">
        <em class='bx bx-cog' ></em>
        <span class="link_name">Login</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" [routerLink]="'login'">Login</a></li>
      </ul>
    </li>
    <li *ngIf="auth.isAuth()">
      <div class="profile-details">
        <div class="profile-content">
          <!--<img src="image/profile.jpg" alt="profileImg">-->
        </div>
        <div class="name-job">
          <div class="profile_name">User Name</div>
          <div class="job">Role</div>
        </div>
        <em class='bx bx-log-out' (click)="logout(); toggle()" ></em>
      </div>
    </li>
  </ul>
</div>
<section class="home-section">
    <em class='bx bx-menu' ></em>
    <router-outlet class="text"></router-outlet>
</section>
