<div class="background">

  <input type="text" #titleInput class="createBoard">
  <button (click)="createBoard(titleInput.value)" [ngClass]="[analytics.CREATE_BOARD, 'createBoardButton']">create
    board
  </button>

  <div class="boards" cdkDropListGroup>
    <ng-container *ngFor="let board of boards">
      <app-task-board class="dahboard-bord" cdkDropList (cdkDropListDropped)="drop($event, board)"
                      [cdkDropListData]="board.tasks"
                      [dragable]="true" [board]="board" [boardEvent]="boardEvent"></app-task-board>

    </ng-container>
  </div>


</div>

