
body {
    background: cornflowerblue;

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 58, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.mainContainer {
    display: grid;
    grid-gap: 50px;
    grid-template-areas:
   "a a b"
   "c c c";
}


.inputContainer {
    display: block;
    grid-area: a;
    background: black;

}

#toDoDescription {
    width: 100%;
    position: relative;
    min-height: 250px;

}

.submitButtonContainer {
    grid-area: b;
    background: chartreuse;
    display: grid;
    align-items: center;
    justify-items: center;
}


.submitButton {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

.todoListContainer {
    padding: 25px;
    grid-area: c;
    grid-gap: 20px;
    background: chocolate;
    min-height: 400px;
    display: grid;
    justify-self: center;
    align-content: start;
    min-width: 400px;
    font-size: 30px;
    background: rgb(0 0 0 / 10%);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.singleListItemContainer {
    display: grid;
    grid-template-areas:
    'title title title title deleteItem'
    'description description description description description'
    'description description description description description';

    background-color: rgb(107 134 232 / 30%);
    border-radius: 12px;
    padding: 25px;
}

/* Close Button Start */

.deleteItem {
    grid-area: deleteItem;
    color: red;
}

/* Close Button End */

.listItem {
    grid-area: title;
}

#todoTitleLable, #labelDescription {
    color: white;
}

.description {
    grid-area: description;
    color: violet;
}