<input type="text" #habitName> <button (click)="createHabit(habitName.value)">Add</button>


<div class="habitContainer" *ngFor="let habit of habits">
  <button class="remove-btn" (click)="delete(habit._id)">delete</button>
  <h2 [title]="'started: ' + habit.startDate.toLocaleString()">{{habit.name}}</h2>
 <div class="done-today">
   <input class="note-input" placeholder="Note" #note>
   <button class="done-today-btn" (click)="doneToday(habit._id, note.value)">Done Today</button>
 </div>
  <div>{{habit?.description}}</div>
  <app-box-table [startDate]="habit.startDate" [numberOfBox]="66"  [habit]="habit"></app-box-table>
</div>
